@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: bisque;
    position: relative;
}

#showjoin {
    opacity: 0;
    height: 40px;
    width: 100vw;
    background-color: rgb(72, 177, 93);
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: opacity 1s ease;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    margin-bottom: 2rem;
}

#content {
    background-color: #fff;
    padding: 1rem;
    /* width: 500px;
    height: 400px; */
    min-width: 60vw;
    height: 50vh;
    border: 1px solid black;
    overflow-y: scroll;
    word-break: break-all;
}

.username {
    margin-top: 1rem;
}
.form-custom {
    display: flex;
    margin-top: 1rem;
}

#field {
    flex-grow: 2;
    padding: 10px;
    outline: 0;
    border: 0;
    border-radius: 4px;
}

#send {
    margin-left: 8px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 0;
    background-color: rgb(34, 34, 34);
    color:beige;
    transition: 0.3s ease all;
}

#send:hover {
    background-color: #fff;
    border: 1px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34)
}

/* width */
#content::-webkit-scrollbar {
    width: 5px;
}

  /* Track */
#content::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
#content::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
#content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

